﻿@model Chat


<div class="chat-body">
    @foreach (var message in Model.Messages)
    {
        <div class="message">
            <header>@message.Name:</header>
            <p>@message.Text</p>
            <footer>@message.Timestamp</footer>
        </div>
    }
</div>

<form asp-controller="Home" asp-action="CreateMessage" 
      class="chat-input" onsubmit="sendMessage(event)">
    <input type="hidden" name="chatId" value="@Model.ChatId" />
    <input type="hidden" name="roomName" value="@Model.Name" />
    <input type="text" name="message" id="message-input" />
    <button type="submit">Send</button>
</form>


@section scripts { 
    <script src="~/js/signalr.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
            .build();
        var _connectionId = '';

        connection.on("RecieveMessage", function (data) {
            // срабатывает, когда отправляем сообщение
            console.log(data)
            var message = document.createElement("div")
            message.classList.add('message')

            var header = document.createElement("header")
            header.appendChild(document.createTextNode(data.name))

            var p = document.createElement("p")
            p.appendChild(document.createTextNode(data.text))

            var footer = document.createElement("footer")
            var date = new Date(data.timestamp).toLocaleString()
            footer.appendChild(document.createTextNode(date))

            message.appendChild(header);
            message.appendChild(p);
            message.appendChild(footer);

            document.querySelector(".chat-body").append(message);
        });

        var joinRoom = function () {
            var url = '/Chat/JoinRoom/' + _connectionId + '/@Model.Name'
            axios.post(url, null)
                .then(res => {
                    console.log("Room Joined!!!", res)
                })
                .catch(err => {
                    console.log("Failed to  Join Room!!!", err)
                })
        }

        connection.start()
            .then(function () {
                // invoke - call to server  to get method
                connection.invoke('getConnectionId')
                    .then(function (connectionId) {
                        _connectionId = connectionId
                        joinRoom();
                    })
            })
            .catch(function () {
                console.log(err)
            });

        var sendMessage = function (event) {
            event.preventDefault();
            var data = new FormData(event.target);
            document.getElementById("message-input").value = "";

            axios.post('/Chat/SendMessage', data)
                .then(res => {
                    console.log("Message send!")
                })
                .catch(err => {
                    console.log("Failed to send message")
                })
        }
    </script>
}