﻿@model IEnumerable<Chat>

<div class="chat-body">
    @foreach (var chat in Model)
    {
        <a class="room-buttom"
            asp-controller="Home"
            asp-action="JoinRoom"
            asp-route-id="@chat.ChatId">
            @chat.Name
        </a>
    }
</div>