﻿@model IEnumerable<Chat>

<div class="side-menu">
    @foreach (var chat in Model)
    {
        <a class="room-buttom"
           asp-controller="Home"
           asp-action="Chat"
           asp-route-id="@chat.ChatId">
            @chat.Name
        </a>
    }
    <a href="#" id="create-room-btn" class="room-buttom">
        <strong>+</strong>
    </a>
</div>